<robot name="zedbot_scoutm" xmlns:xacro="http://ros.org/wiki/xacro">
 
  <xacro:arg name="camera_name"   default="zed" />
  <xacro:arg name="camera_model"  default="zedm" />
  <xacro:arg name="use_zed_localization" default="true" />

  <!-- Include the robot  -->
  <xacro:include filename="$(find drone_launch)/urdf/drone_body.xacro" />

  <!-- Add one ZED Camera -->
  <xacro:include filename="$(find zed_wrapper)/urdf/zed_macro.urdf.xacro" />
  <xacro:zed_camera name="$(arg camera_name)" model="$(arg camera_model)" />

  <joint name="$(arg camera_name)_joint" type="fixed">
      <parent link="$(arg camera_name)_camera_link"/>
      <child link="base_link"/>
      <origin
        xyz="-0.15 0.0 -0.06"
        rpy="0 0 0"
      />
  </joint>

  
</robot>